@import url("components/avatar.css");
@import url("components/social.css");



/*Fonts and color*/
body {
	background: rgb(240,240,240);
	color: rgb(20,20,20);
	font-family: 'Open Sans', sans-serif;
    margin : 0;
}

h1{
	font-family: 'Montserrat', sans-serif;
	font-size: 30px;
	color: #808080;
}

h2{font-family: 'Montserrat', sans-serif;
	font-size: 15px;
	color: #808080;

 }


/*Custom and Design*/
#description{
	position: relative;
    left: 15px;
    bottom:15px;
}



.row{
	margin:10px;
	
}

.clearfix{
    clear:both
}	